@charset "utf-8";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100px;
}

html{overflow-x:hidden;}


li{list-style-type: none;}

a{
  text-decoration: none;
  color:inherit;
}

/* 낮은버전 브라우저용-시멘틱태그를 inline로 인식함*/
article,aside,details,summary,figcaption,figure,footer,header,hgroup,main,nav,section{display:block;}
